.tag-dialog {
  &__title {
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding-top: var(--spacing-md);
  }

  &__input {
    width: 100%;
  }

  &__list {
    min-height: 40px;
  }

  &__actions {
    padding: var(--spacing-md);
  }
}
